<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ScutedelaBDD.Properties.Settings.MJSBDDConnectionString"
            connectionString="Data Source=172.16.254.161;Initial Catalog=MJSBDD;Persist Security Info=True;User ID=Hiurro;Password=Bangzip12"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>